.coverage
.project
.settings
.pydevproject
public
docs/diagrams/out
openapi_bundled.yaml
*.pyc
schema.yaml
src/assertions_mate/__pycache__
.task
.vscode
.agents
.codex
.vscode
.pytest_cache
.ruff_cache
.vscode
.mypy_cache
uv.lock
.cache
